// /////////////////////////
// @@ VARIABLES
// ////////////////////////

// LAYOUT VARIABLES
$default-padding: 2.5em;
$double-padding: $default-padding * 2;
$margin-b: 3rem;
$margin-bb: $margin-b * 2;
$margin-bbb: $margin-b * 3;

// OTHER
$trans-speed: .3s;
